*{
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background-color:#dcdde1;
  display: flex;
  justify-content: center;
  align-items: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box{
  text-align: center;
  background-color: #8c7ae6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  width: 600px;
  max-width: 90%;
}
.box p{
  margin: 30px;
}
.box .features button{

  background-color: #2c198d;
  cursor: pointer;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  transition: transform .3s;
}
.box button:active{
  transform:scale(1.2);
}
.box button:focus{
  outline: none;
}
.features{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.clear{
  clear: both;
}